[phases.setup]
nixPkgs = ["nodejs_22", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npx prisma generate",
  "npx prisma db push --accept-data-loss --skip-generate",
  "npm run build"
]

[start]
cmd = "cd .next/standalone && PORT=${PORT:-8080} node server.js"
